<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="登陆.Properties.Settings.LibraryConnectionString" connectionString="Data Source=G0308;AttachDbFilename=|DataDirectory|\Library.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>